extends layout

block header

block content
 
  h3 #{repo.user}/#{repo.repo} Branches

  a(href="/heroku/#{repo.repo}/#development/full", class="btn btn-warning") Heroku Web Hook With Git

  br
  br
  a(href="/heroku/webhook/menu", class="btn btn-warning") Test Heroku

  table.table-striped.table.table-hover
   tr
    th(width="40%")
     | Branch Name
    th(width="20%")
     | Info
    th(width="40%")

    - if (!data || data.length == 0) 
       tr
        td(colspan="4")
         | No Branches available.
    - else
      each branch, i in data
       tr
        td
         | #{branch.name}
        td
         | ...
        td
         - if (session.user)
           a(href="/git/ref/delete/#{branch.name}", class="btn btn-primary") Delete
           &nbsp;
           a(href="/provision/#{repo._id}/#{branch.name}?process_type=head", class="btn btn-primary") Build
           &nbsp;
           a(href="/repos/webhook/#{repo._id}/#{branch.name}", class="btn") Trigger Web hook
           &nbsp;
           a(href="/heroku/#{repo.repo}/#{branch.name}", class="btn btn-warning") Heroku Web Hook
