extends layout

block header

block content
 
  h3 Start a Build Process: #{process_type.toUpperCase()} 
    - if (process_type != 'head')
      | @ #{id.substring(0, 10)}
  p
    | This process provides the ability to start and build a process. This process
    | will assign the next available port. It will handle the git checkout, build, 
    | npm install and deployment. You can start more then one process for a given
    | commit.

    br
    br

    .well 
      form(action="/start/process", method="post", class="form-horizontal")

        input(type="hidden", name="process_type", value="#{process_type}")
        
        - if (process_type == 'head')

          .control-group
            label(class="control-label", for="reference_name") Select a Branch
            .controls
              select(name="sha") 
                each branch in branches
                  - if (id == branch.name)
                    option(value="#{branch.name}", selected) #{branch.name}
                  - else
                    option(value="#{branch.name}") #{branch.name}
    
        - else 
          input(type="hidden", name="sha", value="#{id}")

        .control-group
          label(class="control-label", for="reference_name") Reference Name
          .controls
            input(type="text", name="reference_name",  value="#{id.substring(0, 9)}", placeholder="Enter Reference Name")

        .control-group
          label(class="control-label", for="environment") Environment
          .controls
            input(type="text", name="environment",  value="development", placeholder="Optional Environment")  
            span(class="help-block") Use this to define the NODE_ENV value.  (Development, Production, Testing etc.)

        .control-group
          label(class="control-label", for="configuration") Select a Configuration
          .controls
            select(name="configuration_id") 
              each config in configurations
                  option(value="#{config._id}") #{config.name}

            span(class="help-block") Select the configuration you want to provide this build. 

        .control-group
          label(class="control-label", for="reference_description") Description
          .controls
            textarea(name="reference_description",  value="development", placeholder="Optional Description")  
            span(class="help-block") This is an optional description for use in delinating a specific process.

        .control-group
          .controls
            a(type="button", class="btn", href="/") Cancel
            &nbsp;
            button(type="submit", class="btn btn-warning", name="SubmitButton") Start Build Process >>

  p.well
    | Note: A build can take a few minutes to complete. If the required node.js modules are not
    | available in the build folder, the process will need to run the full 'npm install'. 
      
    

