extends layout

block header

block content

    h3 Heroku Apps

    p The following is a list of app/sites on Heroku. The CI Server will attempt to build 
      a site, or update a site for each branch submitted. If you want more immediate control
      of a heroku site, for testing, tweaks or debugging you can use the 'git remote add ' + git URL.
      The heroku CLI will then allow you to access app using 'heroku COMMAND --remote [remoteName]'.

    br

    .row-fluid
      
      each repo, i in data

        .span6.fluid
          h3
            | Repo: #{i}
          table.table-striped.table.table-hover
           tr
            th(width="40%")
             | Branch
            th(width="30%")
             | Updated
            th(width="10%")

            - if (!data || data.length == 0) 
               tr
                td(colspan="5")
                 | No processes started.
            - else
              each app in repo
               tr
                td 
                  a(href="#{app.web_url}", target="_blank")=app.name
                td(title=moment(app.updated_at).format("MM/DD/YY HH:mm:ss")) #{moment(app.updated_at).fromNow()}
                td
                  a(class="btn btn-small", href="/heroku/app/#{app.name}/details") Details
