extends layout

block header

  script
    function addUser() {
      var email = $('#addUser_Email').val();
      // Add Validation for the email address.

      $.ajax({
        url: '/heroku/app/#{data.app.name}/collaborators/add',
        type: 'post',
        data: { email: email },
        success: function(res) {
          if (res.err) {
            $('.message').html('Invalid Email Address.');
          } else {
            $('#addUser_Email').val('');
            $('.message').html('Collaborator Added. Add Another?')   
          }
        }
      });

    }

block content

    .row-fluid
      .span7

        h3 #{data.app.name}

    .row-fluid
      .span7

        table.table-striped.table.table-hover
         tr
           td Name
           td=data.app.name
         tr
           td Owner
           td=data.app.owner.email
         tr
         tr
           td Updated
           td=data.app.updated_at
         tr
           td Stack
           td=data.app.stack
         tr
           td Git
           td=data.app.git_url
         tr
           td App URL
           td=data.app.web_url
         tr
           td Status
           td=data.app.status
         tr
           td Build Pack
           td=data.app.buildpack_provided_description

      .span4

        h4 Contributors

        table.table-striped.table.table-hover
         tr
          th(width="20%")
           | Email
          th(width="20%")

          - if (!data || data.length == 0) 
             tr
              td(colspan="5")
               | No processes started.
          - else
            each rec in data.users
             tr
              td=rec.user.email
              td
               a(class="btn btn-small", href="/heroku/app/#{data.app.name}/collaborator/#{rec.id}/delete") Remove
          tr
            td(colspan="2")

                a(href="#addCollaborator", role="button", class="btn", data-toggle="modal") Add User
 
        h4 App Addons

        table.table-striped.table.table-hover
         tr
          th
           | Plan Name

          - if (!data || data.length == 0) 
             tr
              td(colspan="5")
               | No processes started.
          - else
            each addon in data.addons
             tr
              td=addon.plan.name

    .row-fluid
      .span11

        table.table-striped.table.table-hover
         tr
          th(width="20%")
           | Name
          th(width="40%")
           | Value
          th(width="20%")

          - if (!data || data.length == 0) 
             tr
              td(colspan="5")
               | No processes started.
          - else
            each val, i in data.variables
             tr
              td=i
              td=val
              td
               button(class="btn btn-small", onclick="alert('Coming soon...');") Remove
               | &nbsp;
               button(class="btn btn-small", onclick="alert('Coming soon...');") Edit

        a(class="btn btn-primary", href="/heroku/apps") Return to App List

        div(id="addCollaborator", class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
          div(class="modal-header")
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") ×
            h3(id="myModalLabel") Add a Collaborator?

          div(class="modal-body")
            p Enter User Email Address:
              form(id="addUserForm")
                input(type="text", id="addUser_Email", name="email")
            p(class="message") 

          div(class="modal-footer")
            button(class="btn", data-dismiss="modal", aria-hidden="true") Close
            button(class="btn btn-primary", onclick="addUser();") Continue

