extends layout

block header

block content
 
  table.table-striped.table.table-hover
   tr
    th(width="10%")
     | PID
    th(width="10%")
     | Environment
    th(width="40%")
     | Log File / Source
    th(width="20%")

    each process, i in data
     tr
      td
       | #{process.pid}
      td
       | #{process.env}
      td
       | #{process.logFile}
       br
       | #{process.sourceDir}
      td
       a(href="/detail/#{i}", class="btn btn-primary") View
       &nbsp;
       a(href="/restart/#{i}", class="btn btn-primary") Restart
