extends layout

block header

block content
 
  - if (!session.user) 
      .well
        .row
          .span1.hidden-phone
            a(href="/github_login")
              img(width="64", class="hidden-phone", src="/assets/images/octocat.png")
          .span5
            p You are not currently logged into this service. To get more access you need 
              to use your github account to either login in or request access. 
              br
              br
              a(class="btn btn-primary", href="/github_login") Continue >>

  p
    | This is a list of active CI process, builds, commits etc. These processes can be managed from this UI, or from the CLI. Each
    | process binds to a unique port. 


    .row-fluid
      .span6

        table.table-striped.table.table-hover
         tr
          th(width="15%")
           | Based on
          th(width="15%")
           | Name/Owner
          th(width="65%")
           | Details
          th(width="5%")
          - if (!sites || sites.length == 0) 
             tr
              td(colspan="5")
               | No processes started.
          - else
            each process, i in sites
             tr
              td
               - if (process.ui_type == 'snapshot')
                 b SnapShot 
                 | @ #{process.ui_sha.substring(0, 9) || 'Na'}
               - else if (process.ui_type == 'head')
                 b HEAD 
                 | of #{process.ui_sha || 'Na'}
               - else 
                 | CLI/Untracked
              td
               | #{process.ui_name || 'Na'}
               br
               | #{process.ui_owner || 'Na'}
              td
               b Code Coverage: 
               | NA%
               ,
               b # of Tests: 
               | ###
               ,
               b Fails: 
               | ###
               br
               - if (process.ui_description)
                 | #{process.ui_description}
                 br
                 br
               b Bind Port: 
               | #{process.ui_port}
               br
               b Log:
               | #{process.logFile}
               br
               b Source:
               | #{process.sourceDir}
              td

                - if (session.user)
                  - if (process.ui_sha)
                      div.btn-group
                        - if (process.ui_url) 
                          a(href="#{process.ui_url}", class="btn btn-large btn-primary", target="_blank") Preview
                        button(class="btn btn-large btn-primary  dropdown-toggle", data-toggle="dropdown") 
                          span.caret
                        ul(class="dropdown-menu")
                         li
                           a(href="/detail/#{process.uid}") View
                         li
                           a(href="/tail/#{process.uid}") Logs
                         li 
                           a(href="/restart/#{process.uid}") Restart
                         li
                           a(href="/stop/#{process.uid}/#{i}") Stop
                  - else
                      div.btn-group
                        - if (process.ui_url) 
                          a(href="#{process.ui_url}", class="btn btn-large btn-primary", target="_blank") Got to Site
                        button(class="btn btn-large btn-primary dropdown-toggle", data-toggle="dropdown") 
                          span.caret
                        ul(class="dropdown-menu")
                         li
                           a(href="/stop/#{process.uid}/#{i}") Stop
                - else
                  - if (process.ui_sha)
                      div.btn-group
                        - if (process.ui_url) 
                          a(href="#{process.ui_url}", class="btn btn-large btn-primary", target="_blank") Got to Site

        - if (session.user) 
          hr

          .row
            .span6
              .well
                p
                  | Need to start a build, use this option to review the commit history, choose a branch or commit.

                a(href="/git", class="btn btn-warning") Commit >>
                &nbsp;
                a(href="/start/NA?process_type=head", class="btn btn-warning") Branch >>
            .span6
              .well
                p
                  | Are there problem processes? Use this option to clean out any zombie builds.
                  br
                  br

                a(href="/cleanup", class="btn btn-warning") Cleanup Processes

      .span3
        .well
          h4 Activity
          p The following is log of build activity for both snapshots and tracked branches. This shows the last 10 events.

          table.table-striped.table.table-hover
            - if (!activity || activity.length == 0) 
               tr
                td(colspan="5")
                 | No Activity.
            - else

        .well
          h4 Builds
          p The following is a list of existing build instances and their status.

          table.table-striped.table.table-hover
            - if (!builds || builds.length == 0) 
               tr
                td(colspan="5")
                 | No Builds.
            - else
              tr
                th
                  b Commit
                th
                  b Status
              each build, i in builds
                tr
                  td 
                    a(href="/tmp/#{build.commit}") #{build.commit.substring(0, 10)} 
                  td
                    - if (build.process == undefined)
                        div.btn-group
                          button(class="btn dropdown-toggle", data-toggle="dropdown") 
                            span.caret
                          ul(class="dropdown-menu")
                           li
                             a(href="/start/#{build.commit}") Restart this Build

                    - else
                        | Active
          a(href="/sites", class="btn ") Full List of Builds

      .span3

        .well
          h4 Reports
          p The following is mockup of the rollup reports.

          table.table-striped.table.table-hover
            tr
              th Name
              th %
              th Tests
              th Bugs
            tr
              td 
                | Development
              td 
                | 34%
              td
                | 2 fails, 200 passed, 202
              td
                | 12
            tr
              td 
                | Production
              td 
                | 34%
              td
                | 0 fails, 202 passed, 202
              td
                | 3

          a(href="/plots", class="btn ") Detail Report

        .well
          h4 Branches
          p The following is list of active git repo branches.

          table.table-striped.table.table-hover
            - if (!branches || branches.length == 0) 
               tr
                td(colspan="5")
                 | Not Available
            - else
              each branch, i in branches
                tr
                  td 
                    a(href="/tmp") #{branch.name} 

          a(href="/branches", class="btn ") All

  

