extends layout

block header

block content
 
  h3 QA Report for All Projects

  p The following contains a list of tracked Git Repos and their respective testing states and coverage %. Currently
    all of the listed repos show the d1b1/isAPI.js project, as it is public and using all the services. This
    is designed for review only. 

  a(href="/heroku/test", class="btn btn-warning") Heroku Manual Build

  br
  br

  table.table-striped.table.table-hover
   tr
    th(width="20%")
     | Repo
    th(width="20%")
     | Branch
    th(width="20%")
     | Tests
    th(width="20%")
     | Coverage %

    - if (!data || data.length == 0) 
       tr
        td(colspan="4")
         | No Branches available.
    - else
      each record, i in data
       tr
        td
         | #{record.repo}
        td
         | #{record.branch}
        td
         a(href="https://travis-ci.org/#{record.temprepo}", target="_blank")
           img(src="https://travis-ci.org/#{record.temprepo}.png?branch=#{record.branch}", alt="Build Status", style="max-width:100%;")
        td
         a(href="https://coveralls.io/r/#{record.temprepo}?branch=#{record.master}", target="_blank")
           img(src="https://coveralls.io/repos/#{record.temprepo}/badge.png?branch=#{record.branch}", alt="Coverage Status", style="max-width:100%;")
