extends layout

block header

block content
 
 form(action="/runs/update", method="post", class="form-horizontal")

  .row
    .span8
      - if (!id)
       h3 Add a New Release
      - else
       h3 Edit an Existing Release

  .row
    .span9
      p
        | The following provides the ability to create or edit a release. When the release is created
        | a copy of each happy path will be copied and attached. Please enter a name, the specific
        | git commit and a description. 
      br
      br

  - if (id)
    input(type="hidden", name="id", value="#{id}")
 
  .row
    .control-group
      label(class="control-label", for="name") Test Name
      .controls
        input(type="text", name="name", class="span7", value="#{data.name}", placeholder="Enter Name")

  .row
    .control-group
      label(class="control-label", for="sha") SHA Commit ID
      .controls
        input(type="text", name="sha", class="span7", value="#{data.sha}", placeholder="Enter Git SHA Commit")

  .row
    .control-group
      label(class="control-label", for="date") Date
      .controls
        input(type="text", name="date", class="span7", value="#{moment(data.date).format('MM/DD/YYYY')}", placeholder="Enter the run date")

  .row
    .control-group
      label(class="control-label", for="notes") Notes
      .controls
        textarea(type="text", class="span7", name="notes", style="height: 50px;", placeholder="Optional - Summary of the test run") #{data.notes}

  .row
    .span2
      .control-group
        label(class="control-label", for="total_code_coverage") Code Coverage
        .controls
          .input-prepend.input-append
            input(type="text", name="total_code_coverage", class="span1", value="#{data.total_code_coverage || 0}", placeholder="Enter Code Coverage (0% -100%)")
            span.add-on %

    .span3
      .control-group
        label(class="control-label", for="total_tests") Total Tests
        .controls
          .input-prepend.input-append
            span.add-on #
            input(type="text", name="total_tests", class="span1", value="#{data.total_tests || 0}", placeholder="Enter Total Tests (0-###)")

    .span3
      .control-group 
        label(class="control-label", for="total_bugs_in_production") Production Bugs
        .controls
          .input-prepend.input-append
            span.add-on #
            input(type="text", name="total_bugs_in_production", class="span1", value="#{data.total_bugs_in_production || 0}", placeholder="Enter Total Bugs in Production (0-###)")
            
  .row
    .span9
      br
      br

  .row
    .span5
        a(type="button", class="btn", href="/runs") Cancel
        &nbsp;

        - if (id)
          a(onclick="confirmDelete();", class="btn btn-danger") Delete this Release?

    .span5.pull-right
        &nbsp;
        button(type="submit", class="btn btn-warning", name="SubmitButton") Save Changes

    script
      function confirmDelete() {
        if (confirm('Do you want to delete this release? This will delete all the associates happy paths and results.')) {
          document.location='/runs/delete/#{id}';
        }
      }

