extends layout

block header

block content
 
 form(action="/runs/update", method="post", class="form-horizontal")

  .row
  - if (!id)
   h3 Add a New Test Run
  - else
   h3 Edit an Existing Test Run

  .row
    p.span8 The following provides the ability to add or edit an existing test run.

  - if (count > -1) 
  .row
    .well.span8
      p.span8 There are #{count} tests for this run.


  - if (id)
    input(type="hidden", name="id", value="#{id}")
 
  .row
    .control-group
      label(class="control-label", for="name") Test Name
      .controls
        input(type="text", name="name", class="span7", value="#{data.name}", placeholder="Enter Name")

  .row
    .control-group
      label(class="control-label", for="sha") SHA Commit ID
      .controls
        input(type="text", name="sha", class="span7", value="#{data.sha}", placeholder="Enter Git SHA Commit")

  .row
    .control-group
      label(class="control-label", for="date") Date
      .controls
        input(type="text", name="date", class="span7", value="#{moment(data.date).format('MM/DD/YYYY')}", placeholder="Enter the run date")

  .row
    .control-group
      label(class="control-label", for="notes") Notes
      .controls
        textarea(type="text", class="span7", name="notes", style="height: 50px;", placeholder="Optional - Summary of the test run") #{data.notes}

  .row
    .span2
      .control-group
        label(class="control-label", for="total_code_coverage") Code Coverage
        .controls
          .input-prepend.input-append
            input(type="text", name="total_code_coverage", class="span1", value="#{data.total_code_coverage || 0}", placeholder="Enter Code Coverage (0% -100%)")
            span.add-on %

    .span3
      .control-group
        label(class="control-label", for="total_tests") Total Tests
        .controls
          .input-prepend.input-append
            span.add-on #
            input(type="text", name="total_tests", class="span1", value="#{data.total_tests || 0}", placeholder="Enter Total Tests (0-###)")

    .span3
      .control-group 
        label(class="control-label", for="total_bugs_in_production") Production Bugs
        .controls
          .input-prepend.input-append
            span.add-on #
            input(type="text", name="total_bugs_in_production", class="span1", value="#{data.total_bugs_in_production || 0}", placeholder="Enter Total Bugs in Production (0-###)")
            

  .row
    .span5
        a(type="button", class="btn", href="/runs") Cancel
        &nbsp;

        - if (id)
          a(onclick="confirmDelete();", class="btn btn-danger") Delete this test?

    .span5.pull-right
        &nbsp;
        button(type="submit", class="btn btn-warning", name="SubmitButton") Save Changes

    script
      function confirmDelete() {
        if (confirm('Do you want to delete this test run? This will delete all the associates tests and results.')) {
          document.location='/runs/delete/#{id}';
        }
      }

