extends layout

block header

block content
 
  .row
    .span12
      
      h3 Test Runs

      p This is a list of all commits and testing runs. Each run represents a full test
        of regression test for that specific commit in the repo.

  .row
    .span5
      form(action="/runs", method="get")
        .input-append
          input(class="span3", name="term", value="#{term}", type="text")
          button(class="btn", type="submit") Search
          a(class="btn btn-primary", href="/runs/add") Create a New Test Run

  .row
    .span12
      table.table-striped.table.table-hover
       tr
        th(width="20%")
         | Sha Commit
        th(width="10%")
         | Status
        th(width="15%")
         | Date
        th(width="30%")
         | Statistics
        th()

        - if (!tests || tests.length == 0) 
           tr
            td(colspan="4")
             | No Test Runs defined.
        - else
          each config, i in tests
           tr
            td
             | #{config.name} 
             - if (config.sha) 
               br
               b SHA: #{config.sha} 

            td
             | Status
            td
             | #{moment(config.date).format('MM/DD/YY')}
             br
             i #{moment(config.date).fromNow()}
            td
              | Coverage: #{config.total_code_coverage}%
              br
              | Total Tests: #{config.total_tests || 0}
              br
              | Bugs in Production: #{config.total_bugs_in_production || 0}
            td
             a(href="/runs/#{config._id}/tests", class="btn btn-warning") Test me
             &nbsp;
             a(href="/runs/edit/#{config._id}", class="btn") Edit

