extends layout

block header

block content
 
  .row
    .span12
      
  - if (run) 
    - var formAction = '/runs/' + run._id + '/tests'

    h3 Run Specific Test for "#{run.sha || run.name}"
    .well
      p The following are tests for a specific run '#{run.name}'.
      a(href="/runs/edit/#{run._id}", class="btn") View the Run
  - else
    - var formAction = '/tests'
    h3 Happy Paths

  .row
    .span5
      form(action="#{formAction}", method="get")
        .input-append
          input(class="span3", name="term", value="#{term}", placeholder="Enter a search term...", type="text")
          button(class="btn", type="submit") Search
          a(class="btn btn-primary", href="/tests/add") Create a New Happy Path

    .span7
        h4.pull-right Total Master Paths: #{stats.total}

  .row
    .span12
      table.table-striped.table.table-hover
       tr
        th(width="15%")
         | Group
        th(width="30%")
         | Name
        th(width="10%")
         | Priority
        th(width="40%")
         | Notes
        th(width="5%")

        - if (!tests || tests.length == 0) 
           tr
            td(colspan="5")
             | No Tests defined.
        - else
          each config, i in tests
           tr
            td
             !{config.group || 'None'}
            td 
             | #{config.name} 
            td
             | #{config.priority}
            td
             | #{config.notes}
            td
             a(href="/tests/edit/#{config._id}", class="btn btn-warning") Edit

