extends layout

block header

block content
 
  .row
    .span12
      
      h3 Tests

  form(action="/tests", method="get")
    .input-append
      input(class="span3", name="term", value="#{term}", type="text")
      button(class="btn", type="submit") Search
      a(class="btn btn-primary", href="/tests/add") Create a New Test

  .row
    .span12
      table.table-striped.table.table-hover
       tr
        th(width="30%")
         | Short Name
        th(width="10%")
         | Status
        th(width="10%")
         | Claimed by
        th(width="10%")
         | Priority
        th(width="40%")
         | Notes

        - if (!tests || tests.length == 0) 
           tr
            td(colspan="4")
             | No Tests defined.
        - else
          each config, i in tests
           tr
            td
             a(href="/tests/edit/#{config._id}") #{config.name} 
            td
             | #{config.status}
            td
             | #{config.claimedby}
            td
             | #{config.priority}
            td
             | #{config.notes}

